body {
    background-image: url('../img/mountain-magic-hour.jpg'); /* Use your actual image path */
    background-size: cover;        /* Ensure the image covers the entire screen */
    background-position: center;   /* Center the image */
    background-repeat: no-repeat;  /* Prevent repeating */
    height: 100vh;                 /* Viewport height - makes sure the background covers from top to bottom */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #f0f0f0; /* Light gray for better contrast */
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Add a semi-transparent background behind text */
.text-container {
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    padding: 20px;
    border-radius: 10px; /* Optional: rounded corners */
    width: 80%; /* Adjust as necessary */
    max-width: 800px;
    margin: 0 auto; /* Center the container */
}

h1, h2, h3, p, a {
    color: #ffffff; /* Pure white for text */
}

h1 {
    font-size: 78px;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 12px;
    line-height: 1.2;
}

h2 {
    font-size: 42px;
    letter-spacing: 6px;
    margin-bottom: 48px;
    line-height: 1.2;
}

h3 {
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    margin-bottom: 16px;
}

a {
    color: #E6E6FA;
    text-decoration: none;
}

/* Desktops */
@media (min-width: 768px) {
    body { padding: 4% 20% }
}

/* Mobiles */
@media (max-width: 767px) {
    body { padding: 8% 5% }
}

@media (max-width: 767px ) { 
    body { text-rendering: optimizeSpeed } 
}

@media (min-width: 768px ) { 
    body { text-rendering: optimizeLegibility } 
}

img { 
    width: 100%; 
    height: auto; 
    display: block; 
}

input, button, textarea, select { 
    font: inherit;
}